body {
font-family: Verdana,Arial,Helvetica,sans-serif;
background: url("img/bg_body_V2.jpg") no-repeat scroll center 120px rgb(255, 255, 255);
}

a:link { font-weight:bold; color:blue; text-decoration:none; }
#indexBox a:visited { font-weight:bold; color:silver; text-decoration:none; }
#indexBoxActive a:visited { font-weight:bold; color:rgb(0, 150, 130); text-decoration:none; }
#indexboxActive a:hover { font-weight:bold; color:black;}
#indexBox a:hover {font-weight:bold; color:black;}
#indexBox a:active {color:black;}

#indexBox {
	border: solid 1px #DEDEDE;
	background: #EFEFEF;
	color: #222222;
	padding: 0px;
	margin: 5px 10px 20px 7px;
	width: 240px;
	height: 245px;
	text-align: left;
	vertical-align: top;
	float: left;
	position:relative;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:small;
}

#indexBoxActive {
	border: solid 1px #ffffffff;
	background: rgb(217, 239, 236);
	color: #222222;
	padding: 0px;
	margin: 5px 10px 20px 7px;
	width: 240px;
	height: 245px;
	text-align: left;
	vertical-align: top;
	float: left;
	position:relative;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:small;
	
}

#boxTitle {
	border: solid 2px lightgrey;
	background: darkgrey;
	color: lightgrey;
	text-align: center;
	width: 236px;
	padding: 5px 0px;
	margin: 3px 0px;
	position:relative;
	top:0px;
	left:0px;
}

#boxTitleActive {
	border: 2px solid rgb(255, 255, 255);
	background: rgb(0, 150, 130);
	color: rgb(255, 255, 255);
	text-align: center;
	width: 236px;
	padding: 5px 0px;
	margin: 3px 0px;
	position:relative;
	top:0px;
	left:0px;
	font-weight:bold;
}


.rotate {
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4 );
}

.note {
	background: yellow;
	border: solid 1px orange;
	color: orange;
	padding: 7px 1px;
	position: absolute;
	top: 18px;
	left: 85px;
	width: 170px;
	text-align: center;
	font-size: medium;
	font-family: sans-serif;
	font-weight: bold;
	z-index:99;
}

#note:target, #note1:target, #note2:target, #note3:target, #note4:target {
        display:none;
    }

 /* works with IE8+, Firefox 2+, Safari, Chrome, Opera 10+ */

#note, #note1, #note2, #note3, #note4 {
         display:block;
      }

#content {
	vertical-align: top;
	position:relative;
	margin: 3px 10px;
	padding: 2px 2px;
}
#description {
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	height:100px;
}

#links {
margin: 5px 10px;
}

#pageTitle h1 {
	color: #444;
	margin: 0;
	padding: 0px 0px 0px 0px;
	margin-bottom: -10px;
	font-size: 45px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}

#pageTitle h2 {
	font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	padding: 0px 10px 30px 0px;
	margin-left: 5px;
}

#servletCategory h3 {
	margin-bottom: 3px;
}

.wmfg_label, .wmfg_select, .wmfg_text {
	font-size: small;
}
.wmfg_select, .wmfg_text {
	width:150px;
}

/* Map */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}
/** MAP **/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}

#mapInfo {
	margin: 5px;
	padding: 5px;
}

